footer.footer
  ul.footer__nav
      li: a(href='#') About us
      li: a(href='#') Download App
      li: a(href='#') Become a guide
      li: a(href='#') Carrers
      li: a(href='#') Contact
  .footer__logo
      img(src='/img/tripplanner-logo.png', alt='Natours-logo')
      p.footer__copyright &copy; by Priyanka Shriwas. All rights reserved